<ng-container *ngIf="(games$ | async)?.length!=0; else noGame">
<div class="container"
*ngFor="let game of games$ | async">
  <div class="game" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="0 1 60%">
      <div class="club-rec">{{ game.homeTeam.club.name | clubName }}</div>
      <div class="club-vis">{{ game.visitingTeam.club.name | clubName }}</div>
    </div>
    <div class="date">{{ game.dateTime | date }}</div>
    <a mat-icon-button routerLink="list-games/{{ game.code }}">
      <mat-icon aria-label="label">arrow_forward</mat-icon>
    </a>
  </div>
</div>
</ng-container>
<ng-template #noGame>
  <mat-card class="game-no-found" fxLayout="row" fxLayoutAlign="center center" color="primary">
    Aucune rencontres trouvées
  </mat-card>
</ng-template>
