<div class="container">
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-card
      fxFlex="1 1 calc(25%-10px)"
      fxFlex.lt-xl="1 1 calc(33%-10px)"
      fxFlex.lt-lg="1 1 calc(50%-10px)"
      fxFlex.lt-md="1 1 calc(100%-10px)"
      fxLayout="column"
    >
      <mat-card-header>
        <mat-card-title>Prochaines rencontres</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="grow">
        <app-list-games-card [games$]="nextGames$"></app-list-games-card>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <a (click)="onPlusGames()" mat-flat-button color="primary"
          >Voir plus ...</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="1 1 calc(25%-10px)"
      fxFlex.lt-xl="1 1 calc(33%-10px)"
      fxFlex.lt-lg="1 1 calc(50%-10px)"
      fxFlex.lt-md="1 1 calc(100%-10px)"
      fxLayout="column"
    >
      <mat-card-header>
        <mat-card-title>Mes prochaines rencontres</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="grow">
        <app-list-games-card
          [games$]="myGames$"
        ></app-list-games-card>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <a (click)="onPlusGames(['Mes rencontres'])" mat-flat-button color="primary"
          >Voir plus ...</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="1 1 calc(25%-10px)"
      fxFlex.lt-xl="1 1 calc(33%-10px)"
      fxFlex.lt-lg="1 1 calc(50%-10px)"
      fxFlex.lt-md="1 1 calc(100%-10px)"
      fxLayout="column"
    >
      <mat-card-header>
        <mat-card-title>Prochaine rencontre non couvertes</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="grow">
        <app-list-games-card
          [games$]="gamesWithoutBarmen$"
        ></app-list-games-card>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <a (click)="onPlusGames(['Sans barman'])" mat-flat-button color="primary"
          >Voir plus ...</a
        >
      </mat-card-actions>
    </mat-card>

    <mat-card
      fxFlex="1 1 calc(25%-10px)"
      fxFlex.lt-xl="1 1 calc(33%-10px)"
      fxFlex.lt-lg="1 1 calc(50%-10px)"
      fxFlex.lt-md="1 1 calc(100%-10px)"
      fxLayout="column"
    >
      <mat-card-header>
        <mat-card-title>Liste des barmen</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFlex="grow">
        <app-list-users-card [user$]="barmen$"></app-list-users-card>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <a (click)="onPlusBarmen()" mat-flat-button color="primary"
          >Voir plus ...</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
