<ng-container *ngIf="game$ | async as game">
  <div class="container mat-elevation-z3">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="5px"
      class="info-game"
    >
      <div fxFlex="2 1 70%" class="info-date-place">
        <!-- cadre haut gauche -->
        <div
          class="info-date mat-body-2"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="10px"
        >
          <span fxFlex="initial">J{{ game.day }}</span>
          <span fxFlex="grow">{{
            game.dateTime
              | date: "cccc d MMMM yyyy" | nullSubstitution

          }}</span>
          <span fxFlex="initial">{{
            game.dateTime | date: "HH:mm" | nullSubstitution
          }} </span>
        </div>
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ game.halle.name | nullSubstitution: "Lieu inconnu" }}
              </mat-panel-title>
              <mat-panel-description>
                {{ game.halle.address.city | nullSubstitution: "" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              {{ game.halle.address.street | nullSubstitution: "adresse inconnue" }}
              {{ game.halle.address.cp | nullSubstitution: "" }}
              {{ game.halle.address.city | nullSubstitution: "" }}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- cadre haut droit -->
      <div
        class="info-division mat-elevation-z2"
        fxFlex="0 1 30%"
        fxLayoutAlign="center center"
      >
        <div>{{ game.pool.competition.name}}</div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="5px" class="info-bas">
      <!-- cadre principal -->
      <div
        class="game"
        fxFlex="grow"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="game-equipe mat-headline" fxLayoutAlign="center center">
          {{ game.homeTeam.club.name| uppercase }} -
          {{ game.visitingTeam.club.name | uppercase }}
        </div>
        <div class="game-score mat-title" fxLayoutAlign="center center">
          {{ game.score.scoreHomeTeam }} - {{ game.score.scoreVisitingTeam }}
        </div>
        <div class="game-status mat-subheading-2" fxLayoutAlign="center center">
          Jouer :  {{ game.played  }}
        </div>
        <div
          class="game-fdme mat-caption"
          fxLayout="row-reverse"
          fxLayoutAlign="space-between center"
        >
          <a
            mat-stroked-button
            [href]="game.fdme"
            target="_blank"
            *ngIf="game.fdme"
          >
            FDME
          </a>
          <button
            fxFlexOrder="-1"
            (click)="onDisplayAddInfo()"
            mat-mini-fab
            color="primary"
            aria-label="Affiche des infos supplémentaires"
          >
            <mat-icon>{{ iconeDisplayAddInfo }}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="displayAddInfo">
    <!-- cadre Poule -->
    <div class="container mat-elevation-z3">
      Arbitre :

    </div>

    <!-- cadre arbitre -->
    <div
      class="container mat-elevation-z3"

    >
      Chrono
    </div>

    <!-- cadre chrono -->
    <div
      class="container mat-elevation-z3"

    >
      Secretaire :
    </div>

    <!-- cadre Secretaire -->
    <div
      class="container mat-elevation-z3"

    >
      Responsable salle
    </div>
  </ng-container>
</ng-container>
