<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="background">
    <h1>Titre1</h1>
  </div>
  <div class="foreground">
    <h1>Titre1</h1>
  </div>
  <div class="primary">
    <h3>Titre3</h3>
  </div>
  <div class="accent">
    <h4>Titre4</h4>
  </div>
  <div class="warn">
    <h4>Titre4</h4>
  </div>
</div>

<div class="container mat-elevation-z3">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" class="info-game">
    <div fxFlex="2 1 70%">
      <!-- cadre haut gauche -->
      <div class="info-date">
        <span>J1</span>
        <span>30 Septembre 2022</span>
        <span>11h00</span>
      </div>
      <div class="info-place">
        <span>Gymnase Municipal</span>
        <span>Hoenheim</span>
      </div>
    </div>
    <!-- cadre haut droit -->
    <div class="info-division" fxFlex="0 1 30%">Prenationnal Masculin</div>
  </div>

  <div fxLayout="column" fxLayoutGap="5px" class="info-bas">
    <!-- cadre principal -->
    <div class="game" fxFlex="initial">
      <div class="game-equipe">Hoenheim - Illkirch</div>
      <div class="game-score">25 - 22</div>
      <div class="game-fdme">
        <span>FDME</span>
        <button>+</button>
      </div>


    </div>
    <!-- cadre Poule -->
    <div class="info" fxFlex="initial"></div>

    <!-- cadre arbitre -->
    <div class="info" fxFlex="initial"></div>

    <!-- cadre chrono -->
    <div class="info" fxFlex="initial"></div>

    <!-- cadre Secretaire -->
    <div class="info" fxFlex="initial"></div>

    <!-- cadre Responsable -->
    <div class="info" fxFlex="initial"></div>
  </div>
</div>
