

.container {
  margin: 10px;
  border-radius: 4px;
  padding: 10px;


  .info-game div {
    padding: 5px 5px;
    border-radius: 4px;

  }

  .game {
    padding: 5px 5px;
    border-radius: 4px;
    margin-top:10px;
  }

  .game-status {
    border-radius: 4px;

    padding: 5px 5px;
  }

  .game-fdme{
    width: 100%;
  }


}

